:root {
  --radius: 10px;
}

#card {
  aspect-ratio: 3/1.8;
  width: 100%;
  background-color: white;
  max-width: 400px;
  margin: auto;
  border: var(--blue) solid 2px;
  border-radius: var(--radius);
}

.dash-card {
  background-color: white;
  border-radius: var(--radius);
  height: 100%;
}

.dash-card-label {
  color: darkgray;
}

.dash-card-value {
  color: var(--blue);
  font-weight: bold;
}
